<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> Hello World!</title>
</head>
<body>
<ul>
    {{range .}}
        {{if .Vivo}}
        <li>{{.Name | uc}} - {{uc .Lastname}}</li>
        {{end}}
    {{end}}
</ul>
</body>
</html>